.nav-logo {
    font-family: 'Smooch', cursive;
  }
  
  
  @media (max-width: 768px) {
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 60%;
      height: 100%;
      background-color: rgba(16, 16, 16, 0.9);
      transition: background-color 300ms ease-in-out, transform 300ms ease-in-out ,width 300ms ease-in;
      transform: translate3d(0, 0, 0); /* Hardware acceleration */
    }
    .sidebar.active {
      left: 0; 
    }
  
    .sidebar a:hover {
      color: #bc1010;
    }
  
    
  }
  