.nav-logo {
    font-family: 'Smooch', cursive;
  }
  
  
  @media (max-width: 768px) {
    .sidebar {
      position: fixed;
      top: 0;
      left: -100%; 
      width: 70%;
      height: 100vh;
      overflow: scroll;
      background-color: #333333; 
      transition: left 0.5s ease-in-out; 
    }
    .sidebar.active {
      left: 0; 
    }
    .nav-link.active {
      /* Style for active sidebar item text */
      font-weight: bold;
      color: #ffffff; /* Your active text color */
      background-color: #4a5568; /* Your active background color */
      border-left: 3px solid #4299e1;
      border-radius: 2%;
      /* width: 30vw; */
      padding: 10px; /* Adjust the padding as needed */
    }
  }
  